{% autoescape off %}
<div style="font-family: Footlight Mt Light; padding: 15px; text-align: center;">
	<h3 style="font-size: 30px; color: indigo;">Hi Shivshankar Sasmal,</h3>
	<br>
	<h3>You Have Given a Jewellery Work By <br>
		<span style="color: red;">Sam Harrison</span><br> 
		You Submitted It at <span style="color: orange;">12 Dec 2020 12:30 am</span>
	</h3>
	<br>
	<h3>Jewellery Name : Jhumka</h3>
	<h3>Gold Purity : 92 %</h3>
	<h3>Total Gold : 150 gm</h3>
	<h3>KDM : 15 gm</h3>
	<h3>Extra Gold : 15 gm</h3>
	<h3>Net Weight : 150 gm</h3>
	<h3>Gold Given : 150 gm</h3>
	<h3>Loss : 150 gm</h3>
	<h3>Paid : 150 gm</h3>
</div>
{% endautoescape %}