{% extends 'event/base.html' %}
{% load crispy_forms_tags %}

{% block css %}
<title>Password Reset Done</title>
{% endblock css %}

{% block content %}
{% load static %}
<div class="container">
      <div class="row shadow-lg py-5">
            <div class="col-11 alert alert-primary text-center row-center">
                    Your Password Has Been Changed Successfully.
            </div>
            <div class="col-11 row-center text-center pt-3">
                <a href="{% url 'login' %}" class="btn btn-primary">Sign In Here,</a>
            </div>
      </div>
</div>
{% endblock content %}


{% block js %}
{% endblock js %}